main {
    flex-direction: column;
    align-items: center;
}

.add-product-form {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center items vertically */
    width: fit-content;
    height: fit-content;
    border: 1px solid var(--soft-border-color);
    border-radius: 0.3rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.2);
    background-color: var(--menu-color);
    margin: 4rem 4rem;
    align-items: stretch;
    gap: 1rem;
    padding: 2rem;
}

.form-group,
.filter-group {
    display: flex;
    align-items: center;
}
.form-group label,
.filter-group label {
    width: 100%;
}
.add-product-form input,
.add-product-form select,
.add-product-form textarea {
    flex: 1 1 auto;
    padding: 0.7rem;
    margin: 0.3rem 0;
    border: 1px solid var(--soft-border-color);
    border-radius: 0.3rem;
    width: 100%;
    box-sizing: border-box;
}
.add-product-form textarea {
    resize: vertical;
}

.add-product-form h1{
    text-align: center;
}
.add-product-container button {
    padding: 0.6rem;
    border: none;
    border-radius: 0.3rem;
    background-color: var(--button-color);
    color: white;
    cursor: pointer;
    width: 12.5rem;
    margin: auto;
}

.add-product-container button:hover {
    background-color: var(--button-hover-color);
}

@media (max-width: 576px) {
    .add-product-container {
        margin: 2rem 2rem;
    }
    .form-group,
    .filter-group {
        flex-direction: column;
    }
    .form-group label,
    .filter-group label,
    .add-product-form input,
    .add-product-form select,
    .add-product-form textarea{
        width: 100%;
    }

}
