main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    background: none;
}

.shopping-cart-container {
    border-radius: 0.3rem;
    border: 1px solid var(--soft-border-color);
    box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.2);
    background-color: var(--menu-color);
    margin-bottom: 2rem;
}

#shopping-cart-nav{
    margin-top: 2rem;
}

.cart-stage-ref {
    cursor: pointer;
    padding: 10px;
    display: inline-block;
}

.cart-stage-ref.disabled {
    color: grey;
    pointer-events: none;
}

.cart-stage-container {
    display: flex;
    flex-direction: column;
}

button.switch-to-next-stage {
    padding: 0.6rem 1.6rem;
    border: none;
    background-color: var(--menu-color);
    color: var(--text-color);
    font-weight: bold;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-left: auto;
}

button.switch-to-next-stage:hover {
    background-color: var(--button-hover-color);
    color: white;
}

.stage-container {
    padding: 0.8rem 2rem 1.2rem;
}

.stage-content.stage1 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.25rem;
    padding: 1.25rem;
}

.stage1-row {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr; /* Adjust based on your content */
    align-items: center;
    gap: 0.6rem;
    margin: 1.6rem 0;
}

.stage1-row.header {
    font-weight: bold;
    padding: 0.6rem;
    border-radius: 0.3rem;
}

.stage1-title {
    text-align: left;
    margin: 0;
}

.stage1-quantity-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-count-input {
    width: 2rem;
}

.stage1-remove {
    margin-left: 0.6rem;
    cursor: pointer;
    padding: 0;
}

.stage1-remove button {
    cursor: pointer;
    /* Remove default button styles */
    background: none;
    border: none;
    color: var(--text-color);
    font-size: inherit;
}

.stage1-total {
    grid-column: 4;
}

.cart-form {
    /* padding: 0 2rem; */
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.cart-form h1{
    text-align: center;
}

.cart-form input {
    padding: 0.7rem;
    margin: 0.3rem 0;
    border: 1px solid var(--soft-border-color);
    border-radius: 0.3rem;
}

.submit-button {
    padding: 0.6rem;
    border: none;
    border-radius: 0.3rem;
    background-color: var(--button-color);
    color: white;
    cursor: pointer;
}

.submit-button:hover {
    background-color: var(--button-hover-color);
}


/* Responsive adjustments */
@media (max-width: 768px) {
    .stage-container {
        padding: 0.8rem 1rem 1.2rem;
    }

    .stage1-row {
        grid-template-columns: 1fr 5rem 3rem 5rem;
        text-align: center;
    }

    .stage1-quantity-div {
        justify-content: center; /* Centering quantity and remove icon */
    }

    .product-count-input, .stage1-remove {
        margin: 0 auto; /* Centering within their container */
    }

    .cart-form{
        padding: 0;
    }
}


@media (max-width: 576px) {
    .stage1-row {
        grid-template-columns: 3fr 1fr 0 1fr; /* Removed column for unit price */
    }

    .stage1-row .stage1-price {
        display: none; /* Hide per unit price */
    }

    .stage1-remove {
        margin: 0;
    }

    button#switch-to-next-stage {
        margin-right: 0;
    }
}

@media (max-width: 430px) {
    .stage1-row {
        grid-template-columns: 4fr 1fr 2fr;
    }
}
